@charset "UTF-8";
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif !important;

}

.card {
  margin-bottom: 3rem;
  border: 1rem solid var(--card-border-color)
}

.logo {
  font-size: 2rem !important;
  padding: 15px !important;
  font-family: 'Just Another Hand', cursive;

}

table {
  display: unset;
}


header {
  height: unset;
}

.react-toast-notifications__container {
  z-index: 10000 !important;
}

.react-toast-notifications__container button {
  z-index: 10000 !important;
}


.drawer-toggle:before {
  font-size: 3rem;
  cursor: pointer;
}


p, li {
  
  line-height: 2rem;
  color: #4c4c4c;
}

h1 {
  font-size: 10rem !important;
  border-bottom: 10px solid #ccc;
  margin-top: 5rem;
}

h2 {
  font-size: 6rem !important;
  border-bottom: 10px solid #ccc;
  margin-top: 5rem;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2rem !important;
}


h2 > smaller {
  top: -1rem;
  font-size: 1.5rem !important;

}

h1, h2, h3, h4 {
  font-family: 'Just Another Hand', cursive;
}

.container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem;   
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3rem;          
}

footer p {
  font-size: 0.8rem !important;
  line-height: 1.5rem;

}

#drawer {
  border: 1rem solid var(--card-border-color)
}

nav {
  line-height: 0.2rem;
  border: unset;
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

