@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Special Elite', cursive;
	background: #fffdf5;
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}

footer {
  bottom: 0;
}