@charset "UTF-8";
html, body {
  max-width: 100%;
  overflow-x: hidden;

}

.card {
  /* margin-bottom: 3rem; */
  border: 1rem solid var(--card-border-color)
}

.logo {
  font-size: 1.0rem !important;
  padding: 25px !important;
  /* font-family: 'Just Another Hand', cursive; */
  color: var(--a-visited-color) !important;

}

table {
  display: unset;
}

.logo a:hover {
  text-decoration: none;
  color: var(--card-border-color)
}

a:hover {
  text-decoration: none;
  color: var(--header-fore-color)
}


header {
  color: var(--card-border-color);
  background-color: var(--fore-color) !important;
  height: unset;
}


.react-toast-notifications__container {
  z-index: 10000 !important;
}

.react-toast-notifications__container button {
  z-index: 10000 !important;
}


.drawer-toggle:before {
  font-size: 3rem;
  cursor: pointer;
}


p, li, ul, td, tr, em, a, b {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 1rem;

  line-height: 2rem;
  color: #4c4c4c;
}

h1 {
  color: var(--card-border-color);
  font-size: 4.5rem !important;
  /* border-bottom: 1rem solid var(--card-border-color); */
  margin-top: 5rem;
}

.subtitle {
  margin-top: -1.7rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem !important;
}

h3 {
  font-size: 1rem !important;
}


h2 > smaller {
  top: -1rem;
  font-size: 1.5rem !important;

}

h1, h2, h3, .subtitle {
  font-family: 'Martel', serif;
}

.container {
  position: relative;
  min-height: 100vh;
  padding: 0;
}

#content-wrap {
  padding-bottom: 4rem;  
    /* margin-bottom: 100px; */
 
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3rem;          
}

#drawer {
  border: 1rem solid var(--card-border-color)
}

nav {
  line-height: 0.2rem;
  border: unset;
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card.fluid {
  margin-bottom: 3rem;
}